@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: #454544;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.title {
    text-align: center;
    color: #f5f5f5;
}

.container {
    margin: 5% 25% 5% 25%;
    padding: 2%;
    width: 50%;
    background-color: #f5f5f5;
    border-radius: 8px;
}


.container2 {
    margin: 10% 25% 10% 25%;
    padding: 2%;
    width: 50%;
    background-color: #f5f5f5;
    border-radius: 8px;
}